<h2>User info</h2>
画像
<table>
  <tr>
    <td><strong>name</strong></td><td><%= user.name %></td>
  </tr>
  <tr>
    <td><strong>introduction</strong></td><td><%= user.introduction %></td>
  </tr>
</table>
設定ボタン